body{
  background:white;
  color:blue;
  font-size:20px;
  font-weight:lighter;
  text-align:middle;
  margin-top:5px;
}
.main{
  margin-top:50px
}
.olm{
  width:400px;
  display:block;
}
.sub{
  display:block;
  width:300px;
}